$fix_width: 980px;
$color_theme: #3aabba;
$color_theme_opacity: #58d7e8;
$color_background: #f4f8fa;
$color_content: #333;
$color_content_light: #666;
$color_note: #878787;
$color_input: #555;
$color_alert_light: #fff2f2;
$color_notice: #58d7e8;
$color_alert: #faa26b;
$font_size_h1: 2rem;
$font_size_h2: 1.8rem;
$font_size_h3: 1.5rem;
$font_size_h4: 1.2rem;
$font_size_defalt: 16px;
$font_size_note: 12px;
$border_style_input: 1px solid #ddd;