.footer {
  height: 60px;
  width: 100%;
  margin-top: 50px;
  min-width: $fix_width;
  background-color: white;
  &__bar {
    width: $fix_width;
    margin: 0 auto;
    padding-top: 8px;
    & h3 {
      color: $color_theme;
      font-weight: bold;
    }
    &__icon {
      height: 32px;
      font-size: $font_size_h3;
      & a {
        color: black;
        text-decoration: none;
      }
    }
    &__copylight {
      height: 24px;
      text-align: center;
      font-size: $font_size_note;
      color: dimgray;
    }
  }
}