<div class="main_view">
  <div class="main_view__catch">
    <h2>音楽に関わる人たちとつながろう</h2>
    <p>バンドメンバーを募集したり、お仕事相手を探したり。</p>
    <p>プライベートメッセージを使ってやり取りしよう。</p>
  </div>
  <div class="about_servise">
    <div class="about_service_inner">
      <div class="items">
        <h4>求める音楽スキルが見つかる</h4>
        <div class="icon">
          <i class="fas fa-music"></i>
        </div>
        <p>様々なスキルを探せます。また自分のスキルを投稿してアピールできます。</p>
      </div>
      <div class="items">
        <h4>同じ趣味の音楽仲間が見つかる</h4>
        <div class="icon">
          <i class="fas fa-user-friends"></i>
        </div>
        <p>気軽にバンドメンバーを探したり、趣味の合う音楽仲間を探したりできます。</p>
      </div>
      <div class="items">
        <h4>音楽の仕事相手が見つかる</h4>
        <div class="icon">
          <i class="fas fa-headphones"></i>
        </div>
        <p>音楽に関するプロフェッショナルに仕事の相談をできます。まずは気軽にメッセージで相談しましょう。</p>
      </div>
    </div>
  </div>
</div>