<div class="request_page">
  <div class="back_link">
    <%= link_to "一覧に戻る", requests_path %>
  </div>
  <div class="request_page__form">
    <div class="side">
      <div class="side__inner">
        <div class="user_icon">
          【アイコン】
        </div>
        <p class="username"><%= link_to current_user.username, root_path %></p>
      </div>
    </div>

    <div class="request_form_main">
      <div class="form_header">
        <h4>募集内容を編集する</h4>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>