<div class="form_area">
  <%= form_with model: @message do |f| %>
    <div class="field">
      <div class="field_input">
        <%= f.text_area :content, rows: 3, autofocus: true, autocomplete: "content", :placeholder => "メッセージを入力して下さい" %>
      </div>
    </div>

    <%= f.hidden_field :room_id, value: @room.id %>
    
    <div class="action">
      <%= f.submit "送信する", class: "btn" %>
    </div>
  <% end %>
</div>