.request_page {

  &__inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    .side {
      width: 290px;
      margin-right: 50px;
      box-sizing: border-box;

      &_searchBox__inner {
        padding: 20px;
        background-color: white;
        border-bottom: 3px solid #e8e8e8;

        .search_tag {
          margin: 20px 0 0;
        }
      }
      h4 {
        font-size: $font_size_h4;
        font-weight: 700;
      }
    }

    .request_main {
      width: 70%;

      &__header {
        color: $color_theme;
        margin: 0 0 10px 20px;
      }

      .request_links {
        text-align: right;
        margin-bottom: 10px;

        .link_small {
          color: $color_theme;
          margin-right: 10px;
          font-size: 13px;
          &:hover {
            color: $color_note;
          }
        }

        .btn {
          display: inline-block;
          padding: 7px 25px;
          background-color: white;
          color: $color_theme;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: center;
          border: 2px solid $color_theme;
          border-radius: 40px;
          cursor: pointer;
        }
      } 

      &__list {

        .request_list_card {
          margin-bottom: 20px;
          padding: 20px;
          background-color: white;
          border-bottom: 3px solid #e8e8e8;

          .card_top {
            margin: 0 0 6px;
            h4 {
              color: #4f5050;
              font-size: 17px;
              font-weight: 700;
            }
          }

          .card_middle {
            margin: 0 0 8px;

            p {
              font-size: 13px;
              color: $color_content_light;
            }
          }

          .card_bottom {
            display: flex;
            font-size: 13px;
            color: #4f5050;
            
            &__icon {
              margin-right: 10px;
            }

            &__name {
              margin-right: 12px;
              a {
                &:hover {
                  opacity: 0.5;
                }
              }
            }
            &__area {
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}