.contents {

  .link {
    margin: 14px auto;
    input {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 6px 0;
      border: 2px solid $color_theme;
      border-radius: 40px;
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: $color_theme;
      }
    }
    // 下記aの項目はメッセージ実装後調整
    a {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 6px 0;
      border: 2px solid $color_theme;
      border-radius: 40px;
      font-size: 15px;
      font-weight: 700;
      &:hover {
        color: white;
        background-color: $color_theme;
      }
    }
  }

  .back_link {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    a {
      color: $color_theme;
      font-size: 15px;
      &:hover {
        color: $color_hover;
      }
    }
  }

  &_inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    .side_search {
      width: 290px;
      box-sizing: border-box;

      &_inner {
        padding: 20px;
        background-color: white;
        border-bottom: 3px solid #e8e8e8;

        .search_form {
          input {
            margin: 10px auto;
            padding: 5px;
            border: 1px solid #ccc;
          }
          input[type="submit"] {
            color: $color_input;
          }
        }

        .search_tag {
          margin: 20px 0 0;
        }
      }
      h4 {
        font-size: $font_size_default;
        font-weight: 700;
      }
    }

    .side_user {
      position: sticky;
      top: 120px;
      width: 25%;
      box-sizing: border-box;
      text-align: center;
      z-index: 1;
      height: 100vh;
  
      &_inner {
        padding: 20px;
        background-color: white;
        border-bottom: 3px solid #e8e8e8;
  
        .user_icon {
          img {
            width: 125px;
            height: 125px;
            margin: 0 auto 10px;
            object-fit: cover;
            line-height: 125px;
            background-color: #ddd;
            border-radius: 50%;
            border: 1px solid #ddd;
          }
        }
  
        .username {
          font-size: 18px;
          font-weight: 700;
          a {
            color: $color_theme;
            &:hover {
              color: $color_hover;
            }
          }
        }
  
        .follow {
          input {
            color: $color_theme;
            background-color: white;
            &:hover {
              color: white;
              background-color: $color_theme;
            }
          }
        }
  
        .message {
          margin-top: 20px;
          a {
            color: white;
            background-color: $color_theme;
          }
          input[type="submit"] {
            color: white;
            background-color: $color_theme;
          }
        }
      }
    }

    .main {
      margin-left: 5%;
      width: 70%;

      .back_white {
        padding: 30px;
        margin-bottom: 20px;
        background-color: white;
        border-bottom: 3px solid #e8e8e8;
      }

      &_header {
        color: $color_theme;
        margin: 0 0 10px 20px;
        &_bold {
          margin-bottom: 15px;
          h4 {
            color: $color_theme;
            font-size: 22px;
            font-weight: 700;
          }
        }
      }

      .links {
        text-align: right;
        margin-bottom: 10px;

        .link_small {
          color: $color_theme;
          margin-right: 10px;
          font-size: 13px;
          &:hover {
            color: $color_hover;
          }
        }

        .new {
          display: inline-block;
          padding: 7px 25px;
          background-color: white;
          color: $color_theme;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: center;
          border: 2px solid $color_theme;
          border-radius: 40px;
          cursor: pointer;
          &:hover {
            color: white;
            background-color: $color_theme;
          }
        }
      } 

      &_list {
        .list_card {
          margin-bottom: 20px;
          padding: 20px;
          background-color: white;
          border-bottom: 3px solid #e8e8e8;
          
          &_price {
            display: flex;
            align-items: center;
          }

          .left {
            width: 70%;
            margin-right: 10px;
          }

          .right {
            margin-right: 80px;
            .card_inner {
              width: 120px;
              padding: 10px;
              border: 3px solid #f4f8fa;
              background: #f4f8fa;
              border-radius: 10px;
              text-align: center;
              font-size: 13px;
              .text {
                margin-bottom: 10px;
              }
              .value {
                margin-top: 10px;
                font-weight: 700;
              }
            }
          }

          .card_top {
            margin: 0 0 6px;
            h4 {
              color: #4f5050;
              font-size: 17px;
              font-weight: 700;
              &:hover {
                color: $color_hover;
              }
            }
            a {
              color: #555;
              font-size: 13px;
              &:hover {
                opacity: 0.6;
              }
            }
            .name {
              margin-right: 4px;
              font-weight: 700;
              font-size: 18px
            }
          }

          .card_middle {
            margin: 0 0 8px;
            max-height: 140px;
            overflow: hidden;
            justify-content: space-between;

            p {
              font-size: 13px;
              color: $color_content_light;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 7;
            }
          }

          .card_bottom {
            display: flex;
            font-size: 13px;
            color: #4f5050;
            align-items: center;
            
            .user_icon {
              img {
                width: 40px;
                height: 40px;
                margin-right: 12px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #ccc;
              }
            }

            &_name {
              margin-right: 12px;
              a {
                color: #4f5050;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
            &_area {
              margin-right: 12px;
            }
          }

          .alert {
            text-align: center;
            h4 {
              color: #fd5050;
              font-size: 15px;
              font-weight: 700;
            }
          }
        }
      }

      &_detail {

        .detail_top {
          margin-bottom: 20px;

          .tags {
            padding: 4px 8px;
            font-size: .7rem;
            background: #f1f1f1;
            color: $color_theme;
            margin-right: 5px;
            &:hover {
              opacity: 0.5;
            }
          }

          .title {
            padding: 8px 0;
            font-size: $font_size_h2;
            font-weight: 700;
            color: #4f5050;
          }

          .bottom_line {
            border-bottom: 1px solid #d0d0d0;
          }

          .info {
            font-size: 14px;
            color: #333;

            .area {
              margin-right: 10px;
            }
          }

          .info_price {
            span {
              display: inline-block;
            }
          }

          .info_card {
            width: 120px;
            margin-top: 15px;
            padding: 10px;
            border: 3px solid #f4f8fa;
            background: #f4f8fa;
            border-radius: 10px;
            text-align: center;
            font-size: 13px;
            .text {
              margin-bottom: 10px;
            }
            .value {
              margin-top: 10px;
              font-weight: 700;
            }
          }
        }

        .detail_middle {
          margin-bottom: 40px;

          .content {
            font-size: 15px;
          }
        }

        .detail_bottom {
          .admin_actions {
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            
            .edit_link {
              margin-right: 10px;
              padding: 4px 10px;
              border: 1px solid $color_theme;
              border-radius: 30px;
              color: $color_theme;
              font-size: 13px;
              &:hover {
                color: white;
                background-color: $color_theme;
              }
            }

            .delete_link {
              padding: 4px 10px;
              border: 1px solid $color_theme;
              border-radius: 30px;
              color: $color_note;
              font-size: 13px;
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }

      .message_wrapper {
        margin-top: 40px;
        .link {
          width: 240px;
          text-align: center;
          a {
            display: inline-block;
            color: white;
            background-color: $color_theme;
          }
          input[type="submit"] {
            color: white;
            background-color: $color_theme;
          }
        }
      }
    }
  }
}


