.list_card {
  padding: 20px 10px;
  .card_body {
    display: flex;
    align-items: center;
    a {
      color: #555;
      font-size: 13px;
      &:hover {
        opacity: 0.6;
      }
    }
    .name {
      margin-right: 4px;
      font-weight: 700;
      font-size: 18px
    }
    .user_icon {
      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }
  }
}