.list_card {
  padding: 20px 10px;
  .card_top {
    display: flex;
    align-items: center;
    .user_icon {
      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }
  }
}