.profile {

  &_header {
    height: 100px;
    background-color: $color_theme;
    color: white;
    position: relative;
    top: -20px;

    .inner {
      width: 1200px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;

      .user_icon {
        width: 170px;
        position: relative;

         &_image {
           width: 125px;
           height: 125px;
           margin: 0 auto;
           border-radius: 50%;
           border: 10px solid $color_theme;
           background-color: tomato;
           text-align: center;
           line-height: 125px;
         }
      }

      .username {
        margin: 10px 0 0 24px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }

  &_inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    display: flex;

    .profile_main {
      margin-top: 40px;
      width: 800px;

      .user_list {
        padding: 10px 30px;
        margin-bottom: 10px;
        background-color: white;
        border-bottom: 3px solid #e8e8e8;
        a {
          color: $color_content;
          &:hover {
            opacity: 0.6;
          }
        }
      }

      .list_card {
        padding: 30px;
        margin-bottom: 20px;
        background-color: white;
        border-bottom: 3px solid #e8e8e8;

        .stats {
          a {
            margin-right: 20px;
            color: $color_theme;
            &:hover {
              font-weight: 700;
            }
          }
        }

        .card_header {
          margin-bottom: 20px;
          font-size: 22px;
        }

        .bottom_line {
          border-bottom: 1px solid #d0d0d0;
        }

        .card_profile {
          margin-bottom: 40px;
          p {
            font-size: 15px;
            line-height: 1.6;
          }
        }

        .card_skill {
          border: 1px solid #d0d0d0;
          border-radius: 4px;
          padding: 10px 20px;
          margin-bottom: 20px;
          a{
            color: $color_note;
            &:hover {
              color: #ccc;
            }
          }
        }

        .card_links {
          text-align: right;
          .admin_actions {
            .edit_link {
              margin-right: 10px;
              padding: 4px 10px;
              border: 1px solid $color_theme;
              border-radius: 30px;
              color: $color_theme;
              font-size: 13px;
              &:hover {
                color: white;
                background-color: $color_theme;
              }
            }
          }
        }
      }
    }

    .profile_side {
      margin: 40px auto 0;
      width: 25%;

      .link {
        margin: 14px auto;
        input, a {
          display: block;
          width: 80%;
          margin: 0 auto;
          padding: 6px 0;
          text-align: center;
          border: 2px solid $color_theme;
          border-radius: 40px;
          font-size: 15px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            color: white;
            background-color: $color_theme;
          }
        }
      }

      .follow {
        input {
          color: $color_theme;
          background-color: white;
          &:hover {
            color: white;
            background-color: $color_theme;
          }
        }
      }

      .message {
        margin-top: 20px;
          input, a {
            color: white;
            background-color: $color_theme;
          }
      }
    }
  }

}