<footer class="footer">
  <div class="footer__bar">
    <h3 class="footer__bar__icon">
      <span>SKILMA</span>
    </h3>
    <div class="footer__bar__copylight">
      <span>©︎2020 SKILMA All Rights Reserved.</span>
    </div>
  </div>
</footer>